body{
    
    /* background-color: rgb(154, 147, 148); */
    background-color: rgb(34, 60, 99);
    width: auto;
    
   }
   a{
       text-decoration: none;
       color: aliceblue;
   }

/* titre */
.titreFonctions{
    display: flex;
    justify-content: center;
  }



