body{
    
    /* background-color: rgb(154, 147, 148); */
    background-color: rgb(34, 60, 99);
    width: auto;
    
   }
   a{
       text-decoration: none;
       color: aliceblue;
   }

/* titre entête---------- */
.titreFonctions{
    display: flex;
    justify-content: center;
  }
  

  /* ULB --------------*/
.ulb{
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    border: 1px solid aliceblue;
}

.imgUlb{
    width: 450px;
    height: 400px;
    position: relative;
}
.logoStV{
    width: 45px;
    height: 45px;
    margin-left: 400px;
    position: absolute;
}

.text_ulb{
    position: relative;
}

.logoUlb{
    position: absolute;
    margin-left: 90%;
    margin-top: 30%;
    width: 130px;
}

/* Recherche Erasme------- */
.recherche{
    color: aliceblue;
    border: 1px solid aliceblue;
}
.introRecherche{
    display: flex;
    justify-content: space-between;
    width: auto;
    height: auto;
}

.text_assistant1{
    text-align: justify;
}


.imgRecherche{
    max-width: auto;
    max-height: 320px;
    float: right;
}

.assistantErasme{
    display: flex;
    justify-content: space-around;
}
.diabetologie, .bacteriologie, .virologie{
    align-items: center;
}
.imgDiabetologie, .imgBacteriologie, .imgVirologie{
    width: 150px;
}

.imgEcologie, .imgLPGMP, .imgEthologie{
    float: right;
}


.titreLPGMP, .titreEcologie{
    margin-top: 6%;
}
.LPGMP{
    height: 420px;
}

.imgLPGMP{
    width: 25%;
    height: 300px;
}

.textLPGMP{
    width: 90%;
}

footer{
    margin-top: 2%;
    padding-top: 2%;
}
