
body{
    
 background-color: rgb(154, 147, 148);
 
}
a{
    text-decoration: none;
    color: aliceblue;
}

/* Block entête avatar */

.blockAvatar {
    height: 200px;
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    background-color:rgb(34, 60, 99);
    color: aliceblue;
}

.professionalTrainings{
    margin-left: 15%;
    width: 20%;
    text-align: center;
  }
  
  .contact{
    margin-right: 15%;
    width: 20%;
    text-align: center;
  }
  
  .imageAvatar{
    width: 20%;
  }
  
  .avatar{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

.ajustementFlex {
  text-align: start;
}


/* Block central */
.grid-container {
  margin-top: 10%;
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: rgb(34, 60, 99);
  padding: 20px;
}
.grid-item {
  background-color: rgb(34, 60, 99);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.imgCenter {
width: 40%;
}



/* 3eme block */

.education{
  display: flex;
  justify-content: start;
}




  /* 4eme block */

  




